<% unless @network.blank? %>
    <!--<button class="btn btn-success" id="add_node">Add node</button>-->
    <%= render partial: 'node_form', :locals => { action: '/network/add_node',
                button_name: 'Add node', button_class: 'success' } %>

    <%= render partial: 'node_form', :locals => { action: '/network/remove_node',
                button_name: 'Remove node', button_class: 'danger'} %>


    <button class="btn btn-default" onclick="generate_network(<%= @network_json %>)" type="submit">
        Generate network
    </button>
<% end %>